body {
  background-color: #f9f6f5;
  font-family: 'Abel', sans-serif;
  color: #262220;
}

/* -------------- general css ------------ */

#logo,
.section-headers,
#name-introduction,
#logo p {
  font-family: 'Viaoda Libre', cursive;
  color: #a15c38;
}

/* .sub-containers {
  min-height: 3000px;
} */

.link-button {
  margin: 2px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #f9f6f5;
  text-decoration: none;
  background-color: #000;
  border: 2px solid #fff;
}

.button-inline {
  display: inline;
}

.link-button:hover {
  color: #c3a6a0;
  transition: 0.5s;
}

/* -------------- nav section ------------- */

#nav-container {
  min-height: 30px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
}

#logo p {
  font-size: 1.4em;
}

#nav-items a {
  color: black;
}

#nav-items a:hover {
  color: #c3a6a0;
  transition: 0.4s;
}

/* -------------- intro section ------------- */

#name-section,
#intro-buttons,
#name-section p {
  display: flex;
  justify-content: center;
}

#intro {
  padding-top: 250px;
  padding-bottom: 300px;
}

#name-section p {
  padding-left: 10px;
}

/* -------------- about me section ------------- */

#about-me {
  background-color: #fff;
  padding-top: 150px;
  padding-bottom: 50px;
}

#about-text {
  padding: 20px;
  max-width: 40%;
}

#about-text {
  text-align: center;
}

#about-me-content {
  margin-top: 35px;
  margin-bottom: 55px;
}

#self-image-section {
  justify-content: center;
  display: flex;
}

#self-image {
  min-height: 400px;
  min-width: 300px;
  background-color: #eed8cd;
  background-image: url('../media/images/Profile.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: #c3a6a0 30px 30px 0px 0px;
}

/* ------------ skills section ----------- */

#skills {
  margin-bottom: 100px;
  height: 750px;
  overflow: hidden;
}

#skills h3 {
  text-align: center;
  padding: 15px;
  padding-left: 100%;
  padding-bottom: 50px;
}

#skills img {
  display: block;
  padding: 10px;
  margin-left: 70%;
}

#skill-icons {
  display: flex;
  justify-content: center;
}

#skill-card-section {
  overflow: hidden;
}

#skill-section {
  width: 100%;
}

#skill-card-section h4 {
  font-size: 95%;
}

#skill-card-section li {
  font-size: 85%;
  list-style: none;
}

.carosel-horse {
  background-image: url('../media/images/carosel-horse.png');
}

.skill-card {
  min-width: 500px;
  pointer-events: none;
  padding: 50px;
  z-index: -2;
  margin: 60px;
  margin-top: 0px;
  border: none;
  animation: animate 25s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-925px);
  }
}

/* --------------- portfolio -------------- */

#portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  min-height: 800px;
}

#project-section {
  box-sizing: border-box;
}

.project:hover .overlay {
  width: 100%;
  left: 0;
}

.small-project {
  width: 25%;
}

.large-project {
  width: 50%;
}

.wide-project {
  width: 78%;
}

.project {
  display: inline-flex;
  height: 250px;
  margin: 20px;
  background-color: #e8d3c7;
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 3000px #a0908987 inset;
}

#image-1 {
  background-image: url('../media/images/employee-tracker.png');
}

#image-2 {
  background-image: url('../media/images/management-system.png');
}

#image-3 {
  background-image: url('../media/images/ecommerce-backend.png');
}

#image-4 {
  background-image: url('../media/images/game-go-app.png');
}

#image-5 {
  background-image: url('../media/images/password-generator.png');
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #a15c38;
  opacity: 85%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.text a{
  font-size: .6em;
}

/* ------------ contact section ------------ */

#contact-me {
  padding-top: 150px;
  padding-bottom: 150px;
  width: 100%;
  text-align: center;
  background-color: #857b74;
}

#contact-header {
  color: #fff;
  padding-bottom: 15px;
}

#input-container {
  display: flex;
  justify-content: center;
}

#input-container label {
  margin: 15px;
}

#input-container input,
#input-container textarea {
  padding-top: 10px;
  padding-bottom: 10;
  height: 40px;
  width: 450px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}

[type="text"]:focus {
  color: #fff;
  outline: none;
}

#input-container input::placeholder,
#input-container textarea::placeholder {
  color: #fff;
}

#input-container textarea {
  margin-bottom: 25px;
}

/* ------------- resume -------------- */

#resume-section {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* ------------ responsive css ----------- */

@media screen and (max-width: 1180px) {
  .skill-card {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  *,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 105%;
  }

  .row {
    width: fit-content;
  }

  #about-me {
    display: flex;
    justify-content: center;
  }

  #about-me h3 {
    padding-top: 60px;
  }

  #about-text {
    padding: 50px;
    max-width: 60%;
  }

  #skill-section {
    padding-top: 50px;
    margin: 0px;
    display: flex;
    justify-content: center;
  }

  #skill-section h3,
  #skill-section img,
  #skill-icons,
  #icon-section {
    display: none;
  }
  
  /* ------------------ responsive css --------------- */
  
  @media screen and (max-width: 768px) {
    .small-project,
    .large-project {
      width: 80%;
    }
  
    .project {
      height: 200px;
    }
  }

  @keyframes animate {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-1125px);
    }
  }

  .small-project {
    width: 80%;
  }

  .large-project {
    width: 80%;
  }

  .project {
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  #nav-items a {
    display: none;
  }

  #self-image {
    min-height: 200px;
    min-width: 200px;
    border-radius: 100px 100px 100px 100px;
    box-shadow: none;
  }

  .row {
    width: fit-content;
  }

  #about-text {
    max-width: 100%;
  }

  #skill-section h3,
  #skill-section img {
    display: none;
  }

  #skills {
    display: flex;
    justify-content: center;
  }

  .skill-card h4 {
    padding: 10px;
    font-size: 1.6em;
  }

  @keyframes animate {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-1700px);
    }
  }

  .project {
    height: 400px;
  }
}

@media screen and (max-width: 380px) {
  *,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 110%;
  }

  
}
